
# Environment variables
.env

# Log files
*.log

# Database files
database.sqlite

# Created Javascript files
.cache

# Apple file management
.DS_store

# Node modules
node_modules

# shared files
share

src

lib

include

bin
